<%- include('partials/header') %>
<h2>Welcome to the URL Shortener</h2>
<p>Please choose an option:</p>
<ul>
  <li><a href="/user/login">User Login</a></li>
  <li><a href="/user/register">User Registration</a></li>
  <li><a href="/admin/login">Admin Login</a></li>
</ul>
<%- include('partials/footer') %>
